.Form_char_section {
    width: 150vh;
    height: 42vw;
    background-color: rgba(255, 255, 255, 0.331);
    display: flex;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 2.6vw;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_char_inner {
    width: 120vh;
    height: 36vw;
    background-color: rgba(255, 255, 255, 0.589);
    /* margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 2.8vw;
    margin-bottom: 2.8vw; */
    border-radius: 10px;
    
}

.char_head {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    margin-top: 12px;
}
.Char_div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2vh;
    display: flex;
    justify-content: space-around;
}

/* .char_left {
    display: flex;
    flex: 2;
}
*/
/* .char_center{
    margin-left: 10px;
} */

.char_h1 {
    font-size: 5vh;
    /* font-family: 'Caveat', cursive; */
    font-family: 'Satisfy', cursive;
    /* margin-bottom: 2px; */
}

.char_title {
    color: #113280 ;
    width: 400px;
    margin-top: 1.2vh;
    font-size: 20px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    outline-color: #113280 ;
    margin-bottom: 10px;
}

.fields {
    display: flex;
    flex-direction: row;
    margin-bottom: 18px;
    margin-left:22px;
}

.char_label {
    text-align: left;
    font-size: 22px;
    font-weight: 500;
    margin-top: 4px;
    margin-bottom: 12px;
    width: 4.2em;
    font-size: 24px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    /* font-family: 'Dancing Script', cursive; */
    /* align-items: center; */
}

.char_input {
    margin-left: 12px;
    margin-top: 6px;
    padding: 8px;
    font-size: 16px;
    border-radius: 6px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    width: 90%;
}
.char_file {
    margin-left: 32px;
    margin-top: 20px;
    padding: 8px;
    font-size: 14px;
    border-radius: 8px;
    border-style: none;
}

.fields_r {
    display: flex;
    flex-direction: row;
    margin-bottom: 18px;
    /* margin-left: 10px; */
}

.char_label_r {
    text-align: left;
    font-size: 22px;
    font-weight: 500;
    margin-top: 4px;
    margin-bottom: 8px;
    width: 5.5em;
    font-size: 24px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
}

.char_button {
    margin: -38px;
    text-align: center;
}

.char-btn {
    width: 214px;
    font-size: 19px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 16px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.char-btn:focus {
    outline: none;
}

.color-blue {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.color-blue:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}