.category_heading {
    font-size: 1.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin: 4vh;
    font-size:6vh;
    font-weight: 100;
}

/* .cat_section {
    display: flex;
    height: 55vh;
    width: 42vh;
} */

.cat_page {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 55vh;
    width: 42vh;
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    margin-top: 5vh;
    border-radius: 10px;
    box-shadow: 0px 0px 16px 0px rgba(255, 255, 255, 0.356);
    /* margin-left: 5vh; */
    margin-bottom: 2vh;
    margin-left: 4vh;
}

.cat_page img{
    width: 42vh;
    height: 28vh;
    border-radius: 10px 10px 0px 0px;
}

.cat_title {
    margin-top: 1.2vh;
    
    font-size: 26px;
    /* width: 40px; */
    /* height: 40px; */
    color: rgb(253, 253, 253);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.cat_des {
    color: rgb(253, 253, 253);
    font-size: 15px;
    padding: 1vh;
    padding-left: 2.5vh;
    padding-right: 2.5vh;
    padding-top: 2.5vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
}